<%= form_with(model: compatibility, local: true) do |form| %>
  <% if compatibility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compatibility.errors.count, "error") %> prohibited this compatibility from being saved:</h2>

      <ul>
      <% compatibility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stuffed_animal_id %>
    <%= form.text_field :stuffed_animal_id %>
  </div>

  <div class="field">
    <%= form.label :accesory_id %>
    <%= form.text_field :accesory_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
